asgiref==3.6.0
cairocffi==1.5.1
cffi==1.15.1
colorama==0.4.6
colour==0.1.5
commonmark==0.9.1
Django==4.2.1
manimce==0.1.1.post2
numpy==1.24.3
pangocairocffi==0.4.0
pangocffi==0.8.0
Pillow==9.5.0
progressbar==2.5
pycairo==1.23.0
pycparser==2.21
pydub==0.25.1
Pygments==2.15.1
rich==6.2.0
scipy==1.10.1
sqlparse==0.4.4
tqdm==4.65.0
typing-extensions==3.10.0.2
